# ignore ALL .log files
*.log

# ignore ALL files in ANY directory named temp
temp/

# ignore ALL .o files 
*.o 

# ignore ALL .s files 
*.s 

#ignore ALL ._ files
*._

# ignore executables 
Multiple_Instruments 
Sinewave
Synth
tremolo
fxrack
Chorus



.DS_Store

__pycache__
