[submodule "Juce/JUCE"]
	path = Juce/JUCE
	url = https://github.com/juce-framework/JUCE.git
[submodule "Juce_Projects/JUCE"]
	path = Juce_Projects/JUCE
	url = https://github.com/juce-framework/JUCE.git
